/* CSS HEX
--black: #000000ff;
--eerie-black: #1a1a1aff;
--dim-gray: #666a68ff;
--denim: #0a5cb8ff;
--white: #ffffffff; */



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Information Bar */

/* .header .texto_superior {
    background-color: #000000ff;
    display: flex;
    padding: 10px;
} */

.texto_superior{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }

/* NavBar 1 */

.header .navbar1 {
    background-color: #1a1a1aff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .navbar1 ul {
    list-style: none;
    display: flex;
}

.header .logo {
    width: 150px;
    padding: 10px;
}

/* NavBar 2 */

.header .navbar2 {
    background-color: #000000ff;
    display: flex;
    justify-content: space-around    
 }

.header .navbar2 ul {
    list-style: none;
    display: flex;
    padding: 20px;
         
}

.header .navbar2 li {
    padding: 10px;

}

.header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header a:hover {
    color: #0a5cb8ff;
    font-size: larger;
}

/* Main */

.banners{
    width: 100%; 
    display: flex;
}

.title {
    text-align: center;
    padding: 20px;
  }
  
  /* Articulos Destacados */

.main-index, .main-index, .main-nosotros, .main-contacto, .main-productos, .main-carrito{
  background: rgb(102,106,104);
  background: radial-gradient(circle, rgba(102,106,104,1) 0%, rgba(102,106,104,1) 35%, rgba(10,92,184,1) 100%);
  }
  
.main-index{
  color: white;
  }

.productos-container{
  width: 600px;
  max-width: 1200px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: auto;

}

/* .productos-container .Producto-1, .Producto-2, .Producto-3, .Producto-4, .Producto-5, .Producto-6{
  width: 220px;
  height: 350px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 30px;
  text-align: center;
  transition: all 0.25s;  

} */

.productos-container .Producto-index{
  width: 220px;
  height: 350px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 30px;
  text-align: center;
  transition: all 0.25s;  

}

/* .productos-container .Producto-:hover, .Producto-2:hover, .Producto-3:hover, .Producto-4:hover, .Producto-5:hover, .Producto-6:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0,2);
} */

.productos-container .Producto-index:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0,2);
}

/* .productos-container .Producto-1 img, .Producto-2 img, .Producto-3 img, .Producto-4 img, .Producto-5 img, .Producto-6 img{
  width: 220px;
  height: 230px;
} */

.productos-container .Producto-index img{
  width: 220px;
  height: 230px;
}

/* .productos-container .Producto-1 a, .Producto-2 a, .Producto-3 a, .Producto-4 a, .Producto-5 a, .Producto-6 a{
  text-decoration: none; 
  font-size: auto;
  color: #0a5cb8ff;
  font-weight: bold;
} */

.productos-container .Producto-index a{
  text-decoration: none; 
  font-size: auto;
  color: #0a5cb8ff;
  font-weight: bold;
}



.productos-container{
  font-size: auto;
  color: #1a1a1aff;
}

.productos-container .Video-1, .Video-2{
  width: 800px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  }

.videos-container{
  width: 100%;
  height: 100%;
  display: grid;
}

/* .Video-1 iframe{
  width: 770px;
  height: 500px;
}

.Video-2 iframe{
  width: 770px;
  height: 500px;
} */



/* Productos */

.main-productos{
    color: white;
    }
  
.productos-container2{
    width: 600px;
    max-width: 1200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
  
  }
  
.productos-container2 .Producto-1, .Producto-2, .Producto-3, .Producto-4, .Producto-5, .Producto-6, .Producto-7, .Producto-8, .Producto-9, .Producto-10, .Producto-11, .Producto-12{
    width: 220px;
    height: 350px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 30px;
    text-align: center;
    transition: all 0.25s;  
  
  }
  
.productos-container2 .Producto-1:hover, .Producto-2:hover, .Producto-3:hover, .Producto-4:hover, .Producto-5:hover, .Producto-6:hover, .Producto-7:hover, .Producto-8:hover, .Producto-9:hover, .Producto-10:hover, .Producto-11:hover, .Producto-12:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0,2);
  }
  
.productos-container2 .Producto-1 img, .Producto-2 img, .Producto-3 img, .Producto-4 img, .Producto-5 img, .Producto-6 img, .Producto-7 img, .Producto-8 img, .Producto-9 img, .Producto-10 img, .Producto-11 img, .Producto-12 img{
    width: 220px;
    height: 230px;
  }
  
.productos-container2 .Producto-1 a, .Producto-2 a, .Producto-3 a, .Producto-4 a, .Producto-5 a, .Producto-6 a, .Producto-7 a, .Producto-8 a, .Producto-9 a, .Producto-10 a, .Producto-11 a, .Producto-12 a{
    text-decoration: none; 
    font-size: auto;
    color: #0a5cb8ff;
    font-weight: bold;
  }
  
.productos-container2{
    font-size: auto;
    color: #1a1a1aff;
  }


/* Footer */

.footer{
    background-color:#1a1a1aff;
    color: white;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.footer .social{
    width: 25px;
} 

.footer ul{
    display: flex;
    list-style: none;
    margin: 0 auto;
    justify-content: space-between;
}

/* Grid Index*/
.main-index, .main-nosotros, .main-contacto, .main-productos, .main-carrito .title{
    color: white;
  }

.productos-container{  
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-auto-flow: row;
    grid-template-areas:
      "Producto-1 Producto-2 Producto-3 Producto-4 Producto-5 Producto-6"
      "Video-1 Video-1 Video-1 Video-2 Video-2 Video-2";
    justify-items: center;
    align-items: center;
  }
  
  

  .Producto-1 { grid-area: Producto-1; }
  
  .Producto-2 { grid-area: Producto-2; }
  
  .Producto-3 { grid-area: Producto-3; }
  
  .Producto-4 { grid-area: Producto-4; }
  
  .Producto-5 { grid-area: Producto-5; }
  
  .Producto-6 { grid-area: Producto-6; }
  
  .Video-1 { grid-area: Video-1; }
  
  .Video-2 { grid-area: Video-2; }
  
  
  /* Grid Productos */
  
  .productos-container2 {  
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: row;
    grid-template-areas:
      "Producto-1 Producto-2 Producto-3 Producto-4 Producto-5 Producto-6"
      "Producto-7 Producto-8 Producto-9 Producto-10 Producto-11 Producto-12";
  }
  
  .Producto-1 { grid-area: Producto-1; }
  
  .Producto-2 { grid-area: Producto-2; }
  
  .Producto-3 { grid-area: Producto-3; }
  
  .Producto-4 { grid-area: Producto-4; }
  
  .Producto-5 { grid-area: Producto-5; }
  
  .Producto-6 { grid-area: Producto-6; }
  
  .Producto-7 { grid-area: Producto-7; }
  
  .Producto-8 { grid-area: Producto-8; }
  
  .Producto-9 { grid-area: Producto-9; }
  
  .Producto-10 { grid-area: Producto-10; }
  
  .Producto-11 { grid-area: Producto-11; }
  
  .Producto-12 { grid-area: Producto-12; }  

/* Medias Query */

@media (max-width: 605px) {
    .texto_superior{
        font-size: 100%;
      }
    .header .navbar1 {
        flex-direction: column;
    }

    .header .logo {
        width: 100px;
        padding: 15px;
    }

    .header .navbar1 ul {
        padding: 20px;
    }

    footer{
        justify-content: space-around;
        align-items: center;
        flex-direction: column-reverse;        
    }

    .footer .social{
        width: 15px;    
    }

    .banners{
      width: 100%;  
    }  
  }
  
  @media (max-width: 605px) {
  .productos-container{  
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "Producto-1 Producto-2"
      "Video-1 Video-1"
      "Producto-3 Producto-4"
      "Video-2 Video-2"
      "Producto-5 Producto-6";
  }

  .Video-1 iframe{
    width: 550px;
    height: 400px;
  }
  
  .Video-2 iframe{
    width: 550px;
    height: 400px;
  }

  .productos-container2{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "Producto-1 Producto-2"
      "Producto-3 Producto-4"
      "Producto-5 Producto-6"
      "Producto-7 Producto-8"
      "Producto-9 Producto-10" 
      "Producto-11 Producto-12";
  }
 
}