/* Footer */

footer {
  background-color: #1a1a1aff;
  padding: 1rem;

  .social {
    display: flex;
    width: 30px;
  }

  .redes-sociales {
    display: flex;
    list-style: none;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;

    .copy {
      color: white;
      align-items: center;
    }
  }
}
