/* CSS HEX
--black: #000000ff;
--eerie-black: #1a1a1aff;
--dim-gray: #666a68ff;
--denim: #0a5cb8ff;
--white: #ffffffff; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
