@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap");

// Estilo del Formulario de Contacto

$padding-form: 0.5rem;
$border-radius-form: 1rem;
$width-form: 17rem;



